*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-t{
    text-align: center;
}

ul{
    list-style: none;
}

/* BG */
.bg-litegreen{
    background-color: rgb(26,188,156);
}

.bg-red{
    background-color: rgb(186,75,99);
}

.bg-liteblue{
    background-color: rgb(30,164,182);
}

.bg-black{
    background-color: rgb(20,15,15);
}

.bg-blue{
    background-color: rgb(28,131,193);
}

.bg-darkblue{
    background-color: rgb(14,56,181);
}

.bg-beige{
    background-color: rgb(204,178,163);
}

.bg-footer{
    background-color: rgb(58,84,109);
}

.bg-darkfooter{
    background-color: rgb(44,62,80);
}

.bg-yellow{
    background-color: gold;
}

/* HEADER */
header{
    height: 80px;
    background-color: rgb(44,62,80);
}

.pad-y_x{
    padding: 20px 0;
}

.height{
    height: 200px;
}
/* MAIN */
.content{
    
}
.img{
    width: 348px;
    height: 385px;
}


h3 {
    font-family: sans-serif;
    margin: 100px auto;
    color: #228B22;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }
  h3:before {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #ffffff;
    left: 0;
    top: 50%;
    position: absolute;
  }
  h3:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #ffffff;
    right: 0;
    top: 50%;
    position: absolute;
  }

    h4 {
    font-family: sans-serif;
    margin: 100px auto;
    color: #228B22;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }
    h4:before {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #000000;
    left: 0;
    top: 50%;
    position: absolute;
  }
    h4:after {
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: #000000;
    right: 0;
    top: 50%;
    position: absolute;
  }


.height{
    height: 200px;
}

/* FOOTER */
footer{
    height: 80px;
    background-color: rgb(44,62,80);
}